<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon" sizes="20x20"/>
        <!-- CSS only -->
        <link href="/static/bootstrap.min.css" rel="stylesheet"/>
        <!-- Font Awesome 4.7.0 -->
        <link rel="stylesheet" href="/static/font-awesome.min.css"/>
        <script type="text/javascript" src="/static/jquery-3.6.0.min.js"></script>
        <title>Best Poker Hand</title>
        <style>
            @font-face {
                font-family: 'Dejavu';
                src: url('static/dejavu_sans_mono.woff2') format('woff2'),
                     url('static/dejavu_sans_mono.woff') format('woff'),
                     url('static/dejavu_sans_mono.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            .hand {
                font-family: Dejavu !important;
                font-size: 5rem !important;
                font-weight: 500 !important;
                display: inline-flex;
                text-shadow: 1px 1px grey;
            }

            .site-title {
                display: inline-flex;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            {{ template "content" . }}
        </div>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
    </body>
</html>
