<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon" sizes="20x20"/>
        <!-- CSS only -->
        <link href="/static/bootstrap.min.css" rel="stylesheet"/>
        <!-- Font Awesome 4.7.0 -->
        <link rel="stylesheet" href="/static/font-awesome.min.css"/>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/jquery-3.6.0.min.js"></script>
        <title>Best Poker Hand</title>
    </head>
    <body>
        <div class="container-fluid pt-4 mt-4">
            {{ template "content" . }}
        </div>
    </body>
</html>
