{{ define "content" }}
    <script type="text/javascript">
        $(document).ready(() => {
            $("#hand1submit").click((e) => {
                $("#chosenscore").prop("value", "hand1");
            });

            $("#hand2submit").click((e) => {
                $("#chosenscore").prop("value", "hand2");
            });
        });
    </script>
    <div class="card">
        <div class="card-header bg-dark border-light text-light">
            <div class="row">
                <div class="col">
                    <h4>
                        Best Poker Hand <span class="badge bg-primary rounded-circle">?</span>
                    </h4>
                </div>
                <div class="col text-center">
                    <h4>
                        <span id="score">Score: {{ .overallScore }} / {{ .numHands }}</span>
                    </h4>
                </div>
                <div class="col">
                    <a href="/newgame" class="float-end btn btn-success">New Game</a>
                </div>
            </div>
        </div>
        <div class="card-body bg-success text-center">
            <form action="/score" method="post">
                <input type="text" id="chosenscore" name="chosenscore" hidden value="none">
                <input type="text" id="board" name="board" hidden value="{{ .board }}">
                <input type="text" id="hand1" name="hand1" hidden value="{{ .hand1.cards }}">
                <input type="text" id="hand2" name="hand2" hidden value="{{ .hand2.cards }}">
                <input type="number" id="hand1score" name="hand1score" hidden value="{{ .hand1.score }}">
                <input type="number" id="hand2score" name="hand2score" hidden value="{{ .hand2.score }}">
                <div class="row pb-4">
                    <div class="col">
                        <div class="badge border border-2 rounded-pill border-warning p-4">
                            {{- range .board -}}
                                <p class="hand p-1" style="color: {{ .Color }}">{{ .UnicodeString }}</p>
                            {{- end -}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="hand1submit" class="btn border border-2 border-light">
                            {{- range .hand1.cards -}}
                                <p class="hand" style="color: {{ .Color }}">{{ .UnicodeString }}</p>
                            {{- end -}}
                        </button>
                    </div>
                    <div class="col">
                        <button id="hand2submit" class="btn border border-2 border-light">
                            {{- range .hand2.cards -}}
                                <p class="hand" style="color: {{ .Color }}">{{ .UnicodeString }}</p>
                            {{- end -}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{ end }}
