@font-face {
    font-family: 'Dejavu';
    src: url('static/dejavu_sans_mono.woff2') format('woff2'),
         url('static/dejavu_sans_mono.woff') format('woff'),
         url('static/dejavu_sans_mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hand {
    font-family: Dejavu !important;
    font-size: 5rem !important;
    font-weight: 500 !important;
    display: inline-flex;
    text-shadow: 1px 1px grey;
}

.site-title {
    display: inline-flex;
}
